$primary-color				: #06B4CF;
$secondary-color			: #263952;
$main-btn					: #0654bc;
$btn-color					: #f6f7f7;
$btn-hover					: #e9ebef;
$text-color					: #6b6b6b;
$title-color				: #343434;
$white						: #ffffff;
$light-grey					: #f7f7f7;
$black						: #24252a;
$black-russian-grey			: #24252a;
$suva-grey					: #888888;
$roboto-font				: 'Roboto', sans-serif;
$montserrat-font		    : 'Montserrat', sans-serif;
$FontAwesome				: 'FontAwesome';
$navbar-link-color			: $black-russian-grey;
$navbar-hover-color			: $primary-color;
$navbar-hover-bg			: $primary-color;
$navbar-active-color		: $primary-color;
$navbar-active-bg			: transparent;
$hover-line-color			: $primary-color;
$active-line-color			: $hover-line-color;
$dropdown-wrap-color		: $black;
$dropdown-link-color		: $white;
$dropdown-hover-color		: $white;
$dropdown-hover-bg			: $primary-color;
$dropdown-active-color		: $primary-color;
$dropdown-active-bg			: $primary-color;
